.carousel-home {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

section {
    text-align: center;
}

nav {
    padding: 10px;
    background-image: linear-gradient(#fdf1ea, #fdf1ea);
}

.nav-logo {
    max-width: 100%;
}

.nav-item h5 {
    background: -webkit-linear-gradient(black,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: #fdf1ea;
}

.logo-hidden {
    visibility: gone;
}

/* Services styles */
.accordion-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.accordion-container h4{
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
}
body {
    font-family: "Cormorant SC", serif;
    margin: 0;
    padding: 0;
}

/* FAQs */
#faq-header {
    text-align: center;
}

#faq-header h1 {
    font-family: "Cormorant SC", serif;
    background: -webkit-linear-gradient(black,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#faq-where {
    text-align: center;
}

/* Accommodations & Travel */
.acc-header {
    text-align: center;
    justify-content: center;
}

.acc-header h4{
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
}

.acc-header img{
    width: 40%;
    height: auto;
}

.airport {
    margin-top: 3%;
    margin-bottom: 5%;
}

/* Gallery */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .vy {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }

    .home-card{
        height: auto;
        width: 100%;
    }

    .logo-hidden {
        visibility: gone;
    }
  }

  /* Wedding Party */
  .party {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .party-member {
    text-align: center;
    margin-bottom: 5%;
  }

  .party-member h2{
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-style: normal;
  }

  .party-left {
    flex: 1;
    box-sizing: border-box;
  }
  
  .party-right {
    flex: 1;
    box-sizing: border-box;
  }

  .circle-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px; /* Added margin below image */
  }

  .circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Footer */
  footer {
    background-image: linear-gradient(black, black);
    padding: 10px;
    text-align: center;
}

.footer-subcontent-2{
    width:70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(255, 0, 187); */
    color: white;
  }
  
  .footer-content h2{
    color: #f5af01;
    font-size: large;
  }
  
  .footer-content p{
    font-size: small;
    color: white;
  }
  
  .footer-subcontent{
    color: white;
  }

  /* font */

  .cormorant-sc-light {
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-sc-regular {
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-sc-medium {
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-sc-semibold {
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-sc-bold {
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-style: normal;
  }



.engagement-pic {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}

.engagement-pic h2 {
    margin-bottom: 5%;
}

.engagement {
    max-width: 100%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media (min-width: 768px) {
    .hidden-nav img{
        visibility: hidden;
        width: 1px;
    }
  }
  
  @media (max-width: 767px) {
    .hidden-nav {
        visibility: visible;
    }

    .circle-img {
      width: 100px;
      height: 100px;
    }
  }