html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Quattrocento", serif;
}

.carousel-home {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    text-align: center;
}

body {
    background-color: #fdf1ea;
    /* background-image: linear-gradient(#fdf1ea,#fdf1ea); */
}

.wedding-blurb {
  margin: 5%;
  text-align: center;
}

.countdown {
  height: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-bottom: 5%;
}


.accordion-body {
  /* margin-left: 5%;
  margin-right: 5%; */
}

.accordion-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.accordion-container h4{
      font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}
body {
    font-family: "Quattrocento", serif;
    margin: 0;
    padding: 0;
}

/* Accommodations & Travel */
.acc-header {
    text-align: center;
    justify-content: center;
}

.acc-header h4{
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.acc-header img{
    width: 40%;
    height: auto;
}

.airport {
    margin-top: 3%;
    margin-bottom: 5%;
}

  .vy {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

    .logo-hidden {
        visibility: gone;
    }
  }

#rsvpForm {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Quattrocento", serif;
}

#rsvpForm input[type="text"],
input[type="radio"]  {
  font-size: 17px;
}

#rsvpForm input[type="radio"] {
  transform: scale(1.2); /* Increase the size of the radio buttons */
  margin-right: 5px; /* Add some spacing between radio buttons and labels */
  margin-top: 8px;
}

.radio-group {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 100%; /* ensures wrapping */
}

.radio-group label {
  flex: 1;
  word-break: break-word;
}

#rsvpForm input[type="number"] {
  width: 25%;
  height:50%;
  margin-top: 9px;
}

#rsvpForm input[type="email"] {
  width: 40%;
}

#rsvpForm label {
  margin-bottom: 5px;
  margin-right: 0px;
  width: fit-content;
}

.rsvpYesNo {
  font-size: 21px;
}

.meal-selection {
  font-size: 20px;
}

.rsvpName {
  width: 40%;
}


  @media (min-width: 992px) {
    .hidden-nav img{
        display: none;
    }
  }

  @media (max-width: 768px) {
    .carousel-home {
      width: 30%;
    }
  }
  
  @media (max-width: 992px) {
    .hidden-nav img{
        visibility: visible;
    }

    #rsvpForm {
      width: 92%;
    }

    #rsvpForm input[type="email"] {
      width: 100%;
    }

    #rsvpForm input[type="number"] {
      width: 50%;
    }
    
    .rsvpName {
      width: 100%;
    }

    .rsvpYesNo {
      font-size: 14px;
    }

    .meal-selection{
      font-size: 14px;
    }

    .countdown {
      padding-top: 8%;
      padding-bottom: 8%;
    }
  }  

.slider-container {
    width: 100%;
    height: max-content;
    overflow: hidden; /* This hides the overflowing images */
    position: relative;
}

.slider-track {
    display: flex;
    animation: scroll 7000s linear infinite; /* Apply the scroll animation */
}

@media screen and (max-width: 800px) {
  .slider-track {
    animation: scroll 2000s linear infinite; /* Apply the scroll animation */
  }
}

.slider-track img {
    width: 475px;
    height: auto;
    margin-right: 0px;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50000%);
    }
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.engagement-pic {
  display: block;
  margin: auto;
  width: 40%;
}